body{
    background-image: url("img/tropa_do_zap_.png");
    background-repeat: no-repeat;   
    background-size: 300%;
    
}
/* imagens do cabecario */
header {
    img {
        max-width: 300px;
        height: auto;
    }

}
/* mayaziks clips */
.container {
    display: flex;
    justify-content: space-around;
    
    
}
img {
    max-width: 300px;
    height: auto;
}

.cadastro {
    font-family: 'Arial', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
